---
layout: default
title: Personal
permalink: /personal/
---
<h1 class="page-title">Personal</h1>
<ol class="posts">
{% assign items = site.categories['personal'] %}
{% for post in items %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
    <div>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.tags %}<p>{{ post.tags | join: ", " }}</p>{% endif %}
    </div>
  </li>
{% else %}
  <li><p>Nothing here yet.</p></li>
{% endfor %}
</ol>
